@*@model IEnumerable<Lab6.Models.DataAccess.Employee>*@
@model List<Lab6.Models.EmployeeRoleSelections>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    The following employees are found with the given search string @ViewData["searchString"].
    Not see the employee you are looking for? <a asp-action="Search">Start a new search.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Employee Name*@
                @Html.DisplayNameFor(model => model[0].employee.Name)
            </th>
            <th>
                @*Username*@
                @Html.DisplayNameFor(model => model[0].employee.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].employee.Roles)
                @*Roles*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                    @Html.DisplayFor(modelItem => item.employee.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UserName)*@
                    @Html.DisplayFor(modelItem => item.employee.UserName)
                </td>
                <td>
                    @{
                       
                        List<string> myroles = new List<string>();
                    
                    
                        @if (item.employee.Roles.Count() == 1)
                        {
                            @foreach (var a in item.employee.Roles)
                            {
                                @Html.DisplayFor(modelItem => a.Role1) 

                            }

                        }
                        else
                        {
                            var mya = "";
                            @foreach (var a in item.employee.Roles)
                            {
                                var bb = a.Role1 + ", ";
                                myroles.Add(bb); 
                            }
                            @foreach (var a in myroles)
                            {
                                mya += a;
                            }
                            mya = mya.TrimEnd(' ');
                            mya = mya.TrimEnd(',');
                            @mya
                       
    
                        }
                    }

                    @*@{
                        List<string> myroles = new List<string>();
                        for (int i = 0; i < item.Roles.Count(); i++)
                        {
                            var text = "";
                            foreach (var ab in item.Roles)
                            {
                                if (ab.Id == 1)
                                {
                                    text = "Department Chair ";
                                    myroles.Add(text);

                                }
                                else if (ab.Id == 2)
                                {
                                    text = "Coordinator ";
                                    myroles.Add(text);

                                }
                                else if (ab.Id == 3)
                                {
                                    text = "Instructor";
                                    myroles.Add(text);

                                }
                            }
                            break;
                        }
                    }                        
                    @if(myroles.Count() > 1){
                        var mya = "";
                        foreach (var emRole in myroles)
                        {
                            mya += emRole + ","; 

                        }
                        mya = mya.TrimEnd(',');
                        @mya
                    }
                    else
                    {
                        foreach (var emRole in myroles)
                        {
                            @emRole
                        }
                    }
                   *@

                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
                    <a asp-action="Edit" asp-route-id="@item.employee.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
